# Example service file launching metador-push,
# assuming there is a user metador-push with homedir /metador-push
# (which is also the data directory)
# and assuming that the configuration and profiles live in /metador-push_rundir
[Unit]
Description=Metador Push

[Service]
User=metador-push
WorkingDirectory=/metador-push_rundir
ExecStart=/metador-push/.local/bin/metador-push run

[Install]
WantedBy=multi-user.target
