# Example service file launching metador,
# assuming there is a user metador with homedir /metador
# (which is also the data directory)
# and assuming that the configuration and profiles live in /metador_rundir
[Unit]
Description=Metador

[Service]
User=metador
WorkingDirectory=/metador_rundir
ExecStart=/metador/.local/bin/metador-cli run

[Install]
WantedBy=multi-user.target
