# example systemd service file for starting tusd,
# which is assumed to be installed in /usr/bin
# and configured for a hook URL matching some configuration (change accordingly)
[Unit]
Description=Metador Push Tusd

[Service]
User=metador-push
WorkingDirectory=/metador-push
ExecStart=/usr/bin/tusd -behind-proxy -hooks-http https://metador-push.MYSITE.COM/tusd-events

[Install]
WantedBy=multi-user.target
