<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Metador</title>

    <!-- CSS Reset -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"> -->
    <!-- Picnic is based on normalize -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Uppy CSS -->
    <link rel="stylesheet" href="https://releases.transloadit.com/uppy/v1.29.1/uppy.min.css">

    <!-- Site-specific -->
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
      <script src="/static/base.js"></script>
      <nav>
        <a href="/" class="brand" data-tooltip="Metadata Enrichment and Transmission Assistance for Digital Objects in Research">
          Metador
        </a>

        <span style="position: relative; top: 25%;">
          <i><small>The metadata-aware mailbox for research data.</small></i></span>

        <div class="menu">
          <span id="auth-button"></span>
          <script>
            signin_btn = `
              <a class="button" href="/oauth/orcid">
                <i style="width:20px;" class="fab fa-orcid"></i>
                Sign in with ORCID
              </a>`;
            signout_btn = `<a class="button" href="/oauth/signout">Sign out</a>`;
            with_auth_info(data => {
                          if (data.orcid_enabled) {
                                  document.getElementById("auth-button").innerHTML = 
                                        data.session == null ? signin_btn : signout_btn;

                                      }
                        });
          </script>
        </div>
      </nav>
      <div style="height:70px"></div>
      <main>
        {% block content %}{% endblock %}
      </main>
  <footer>
    <!-- What to put here? -->
  </footer>
  </body>
</html>
