{% extends "base.html" %}
{% block content %}
<div class="flex three">
  <div></div>
  <div>
    <a class="button stack" style="{{maybe_hidden}}" href="{{orcid_userauth_url}}">
      <i style="width:20px;" class="fab fa-orcid"></i>
      Sign in with ORCID
    </a>
    <a class="button stack" href="/new">
    <i style="width:20px;" class="fas fa-folder-open"></i>
      Upload a new dataset
    </a>
  </div>
  <div></div>
</div>
<div class="flex three">
  <div></div>
  <div>
  </div>
  <div></div>
</div>
{% endblock %}
