{% extends "base.html" %}
{% block content %}
<div class="flex three">
  <div></div>
  <div>
    <p>
    Hello, <span id="user_name">guest</span> !
    </p>

    <a class="button" href="/new">
    <i style="width:20px;" class="fas fa-folder-open"></i>
      Upload a new dataset
    </a>

  </div>
  <div></div>
</div>
<div class="flex three">
  <div></div>
  <div>
  </div>
  <div></div>
</div>
    <script>
      function check_auth() {
          with_auth_info(data => {
                  if (data.session) {
              document.getElementById("user_name").innerHTML = data.session.user_name;
                        }
          });
      }
      check_auth();
    </script>
{% endblock %}
