{% extends "base.html" %}
{% block content %}

<div class="flex three">
  <div></div>
  <div>
    <p>
    This instance is configured to accept <b>only certain ORCIDs</b>.
    </p>

    <p>
    Unfortunately your ORCID <b>{{orcid}}</b> is not on the list,
    so you are not permitted to use this service.
    </p>

    <p>
    If you think that this is a mistake,
    please contact the site administrator or responsible
    institution to add your ORCID to the allow-list.
    </p>

    <p>
    <a href="/">Home</a>
    </p>
  </div>
  <div></div>
</div>

{% endblock %}
